:root {
    --cor-light: #d3d3d3;
    --cor-dark: #a3a3a3;
}

#tela {
    width: 800px;
    margin: 0 auto;
    border: 8px double var(--cor-dark);
    padding: 20px;
    border-radius: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-decoration: underline;
    background: var(--cor-light);
}

h2 {
    color: var(--cor-dark);
    padding-left: 20px;
}

p {
    padding-left: 40px;
}

#tela div {
    box-sizing: border-box;
    background: var(--cor-light);
    padding: 10px;
    display: inline-block;
    margin: 6px;
    border-radius: 10px;
    border: 2px dashed var(--cor-dark);
    text-align: center;
    vertical-align: bottom;
}